@use '../../styles/variables' as *;

.page-not-found__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found__message {
    font-size: $fs-2xl;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
}
